@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic);
body, html  {
  width:100%;
  height:100%;
}

body, input {
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
  font-weight:300;
}

li {
  list-style: circle;
  list-style-position: inside;
  margin-left: 15px;
  margin-bottom: 10px;
}

.logo, .nav_ico, footer, section, .header2, .section_content, .auto { margin:auto; }
.auto {
  width:1200px;
  position: relative;
}

header {
  background: #FAF9F5;
  min-width:1200px;
}

.header2 {
  height:110px;
  width:1200px;
}

.header2 .logo2 {
  width: 320px;
  height:80px;
  background: url("logo.png") no-repeat left 13px;
  background-size: auto 85px;
  float: left;
}

.header2 .logo2 a {
  display: block;
  width: 100%;
  height: 100%;
}


.header2 ul {
  float:right;
  margin:7px 80px 0 0;
}

.header2 li {
  display:inline-block;
  width: 92px;
  height: 92px;
  text-align:center;
  font-weight: normal;
  margin: 0 5px;
}

.header2 li:hover {
  background-image: -ms-radial-gradient(center, ellipse closest-corner, #52285A 0%, #52285A 68%, #FAF9F5 70%, #FAF9F5 100%);
  background-image: -moz-radial-gradient(center, ellipse closest-corner, #52285A 0%, #52285A 68%, #FAF9F5 70%, #FAF9F5 100%);
  background-image: -o-radial-gradient(center, ellipse closest-corner, #52285A 0%, #52285A 68%, #FAF9F5 70%, #FAF9F5 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #52285A), color-stop(68, #52285A), color-stop(70, #FAF9F5), color-stop(100, #FAF9F5));
  background-image: -webkit-radial-gradient(center, ellipse closest-corner, #52285A 0%, #52285A 68%, #FAF9F5 70%, #FAF9F5 100%);
  background-image: radial-gradient(ellipse closest-corner at center, #52285A 0%, #52285A 68%, #FAF9F5 70%, #FAF9F5 100%);
}

.header2 li a { display: block; width:100%; height:100%; color:black; padding-top: 35px;}
.header2 li a:hover { color:white; }


.tlo_blur {
  background: url("tlo_blur.png") center top;
  height:477px;
}

.tlo {
  background: url("tlo.png") no-repeat center top;
  height:477px;
}

.page_bgn_banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height:477px;
}

.page_bgn_banner--kayak {
  background-image: url("bgn_kayak.jpg");
  height: 300px;
}

.page_bgn_banner--summer {
  background-image: url("bgn_summer2.jpg");
  height: 400px;
  background-position: center bottom;
}

.page_bgn_banner--swimming {
  background-image: url("bgn_summer.jpg");
  height: 400px;
}

.page_bgn_banner--trips {
  background-image: url("bgn_trips.jpg");
  height: 400px;
}

.pytania {
  position: absolute;
  bottom: -270px;
  right: 0;
  background: url('kontakt.png') no-repeat;
  width: 318px;
  height: 238px;
  margin: 0;
  text-align:center;
  color:white;
  font-size:140%;
  padding-top: 80px;
  line-height:120%;
}

.pytania strong { font-weight:bold; font-size:120%; }

/*
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300);
font-family: 'Raleway', sans-serif;
*/

section {
  background: #FAF9F5;
  -webkit-box-shadow:	inset 0px -45px 45px -45px #d2d2d2;
  -moz-box-shadow: inset 0px -45px 45px -45px #d2d2d2;
  box-shadow:	inset 0px -45px 45px -45px #d2d2d2;
  min-width:1200px;
}

.section_content { width:1200px; }
.section_content:after { content:''; display:block; clear:both; }


.section_txt {
  float:left;
  width:800px;
  padding: 30px 10px 50px;
}

section h1 { font-size: 150%; font-weight:bold; padding: 20px 0; }
section h2 { font-size: 140%; font-weight:bold; padding: 20px 0; }
section h2 { font-size: 130%; font-weight:bold; padding: 20px 0; }
section h2 { font-size: 120%; font-weight:bold; padding: 20px 0; }



.logo, .nav_ico, footer { min-width:972px; }

.logo {
  background: url("logo.png") no-repeat center 13px;
  height:122px;
}


.nav_ico {
  min-height:559px;
}

.nav_ico ul {
  width: 100%;
  max-width: 1010px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav_ico .ico {
  display: block;
  flex-basis: 300px;
  margin: 0 18px;
  height:253px;
  display: flex;
  position: relative;

  /* opacity: .7; */
  /* background: rgba(255,180,180, 0.5); */
}

.nav_ico .ico::before {
  content: '';
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 230px;
  height: 230px;
}

.nav_ico .ico--1::before {
  background-image: -moz-linear-gradient( 130deg, rgb(83,36,88) 0%, rgb(167,36,149) 100%); background-image: -webkit-linear-gradient( 130deg, rgb(83,36,88) 0%, rgb(167,36,149) 100%); background-image: -ms-linear-gradient( 130deg, rgb(83,36,88) 0%, rgb(167,36,149) 100%);
}
.nav_ico .ico--2::before {
  background-image: -moz-linear-gradient( 130deg, rgb(117,53,124) 0%, rgb(211,56,189) 100%); background-image: -webkit-linear-gradient( 130deg, rgb(117,53,124) 0%, rgb(211,56,189) 100%); background-image: -ms-linear-gradient( 130deg, rgb(117,53,124) 0%, rgb(211,56,189) 100%);
}
.nav_ico .ico--3::before {
  background-image: -moz-linear-gradient( 130deg, rgb(142,72,149) 0%, rgb(208,78,190) 100%); background-image: -webkit-linear-gradient( 130deg, rgb(142,72,149) 0%, rgb(208,78,190) 100%); background-image: -ms-linear-gradient( 130deg, rgb(142,72,149) 0%, rgb(208,78,190) 100%);
}
.nav_ico .ico--4::before {
  background-image: -moz-linear-gradient( 130deg, rgb(153,36,166) 0%, rgb(235,59,210) 100%); background-image: -webkit-linear-gradient( 130deg, rgb(153,36,166) 0%, rgb(235,59,210) 100%); background-image: -ms-linear-gradient( 130deg, rgb(153,36,166) 0%, rgb(235,59,210) 100%);
}
.nav_ico .ico--5::before {
  background-color: rgb(199, 104, 186);
}

.nav_ico a {
  display: block;
  width: 100%;
  height: 100%;
}

.nav_ico .ico__txt {
  background-repeat: no-repeat;
  width: 124px;
  height: 130px;
  position: absolute;
  left: 160px;
  bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  padding: 0 10px;
  box-sizing: border-box;
}

.nav_ico .ico--1 .ico__txt { background-image: url("main_icon_txt_1.png"); /* background-color: rgb(105, 26, 94); */ }
.nav_ico .ico--2 .ico__txt { background-image: url("main_icon_txt_2.png"); /* background-color: rgb(124, 48, 114); */ }
.nav_ico .ico--3 .ico__txt { background-image: url("main_icon_txt_3.png"); /* background-color: rgb(154, 66, 142); */ }
.nav_ico .ico--4 .ico__txt { background-image: url("main_icon_txt_4.png"); /* background-color: rgb(170, 72, 156); */ }
.nav_ico .ico--5 .ico__txt { background-image: url("main_icon_txt_5.png"); /* background-color: rgb(211, 114, 197); */ }

.nav_ico .ico .ico__img {
  position: absolute;
  width: 217px;
  height: 217px;
  left: 3px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_ico .ico--1 .ico__img {
  background-image: url("main_icon_img_1.png");
  background-color: transparent;
  border-radius: 0;
  height: 239px;
}
.nav_ico .ico--2 .ico__img { background-image: url("main_icon_img_2.png");
}
.nav_ico .ico--3 .ico__img {
  background-image: url("main_icon_img_3.png");
  background-size: cover;
}
.nav_ico .ico--4 .ico__img {
  background-image: url("main_icon_img_4.png");
  background-size: cover;
}
.nav_ico .ico--5 .ico__img {
  background-image: url("main_icon_img_5.png");
  background-size: cover;
}

footer {
  max-width:1200px;
  min-height: 49px;
  padding:42px 0 0;
  font-size:85%;
}

footer:after {
  content:'';
  display:block;
  clear:both;
}

.nav_foot {
  float:left;
  margin: 0 10px;
  color:#9A428E;
  font-weight: normal;
}

.copy {
  float:right;
  margin: 0 10px;
}

.nav_foot a { color: black; font-weight: lighter; }
.nav_foot p, .nav_foot ul { display:inline; }
.copy a { color:#9A428E; }



.nav_foot li {
  display: inline;
}
